@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto';
}

.container {
  display: flex;
  height: 100vh;
}

header {
  background-color: #2b31a4;
  padding: 20px;
}

.sidebar {
  flex: 0 0 200px;
  background-color: #79b2f428;
  padding: 20px;
}

aside {
  /* background-color: #eaeaea; */
}

main {
  flex: 1;
  padding: 20px;
}

/* .article-container {
  display: flex;
}
.category-title,
.category-list {
  flex: 1;
} */
