.nav-icon:hover {
  color: yellow;
  transition: color 0.3s ease;
}
.active {
  color: yellow !important;
}
.nav-icon {
  color: #fff;
  padding: 16px 0 16px 0;
  text-decoration: none;
  list-style: none;
}
